<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="main-header">
        <div class="header-notices">
            <p>ENVÍO GRATIS A PARTIR DE $90.000</p>
        </div>
        <div class="main-header-top-bar">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="search-bar">
                <i class="fas fa-search"></i>
            </div>
            <h1 class="title">LUMINA</h1>
            <div class="shopping-cart">
                <p class="shopping-mount">0</p>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="prueba">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus doloremque eligendi impedit minima excepturi facilis fugit aliquam sunt maiores, dolores hic numquam quaerat adipisci eos. Tenetur minus dolore ex?</p>
        </div>
    </main>

    <footer></footer>
</body>
</html>