<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="main-header">
        <div class="header-notices">
            <p>ENVÍO GRATIS A PARTIR DE $90.000</p>
        </div>
        <div class="main-header-top-bar">
            <div class="main-header-top-left">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <h1 class="title"><a href="/">LUMINA</a></h1>
            <div class="shopping-cart">
                <p class="shopping-mount">0</p>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
        <nav class="nav-container">
            <ul class="nav-items nav-words">
                <li><a href="#">MUJER</a></li>
                <li><a href="#">HOMBRE</a></li>
                <li><a href="#">NIÑOS</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">LOCALES</a></li>
            </ul>
            <ul class="nav-items nav-icons">
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-user"></i></a></li>
                <li class="shopping-cart-pc">
                    <p class="shopping-mount-pc">0</p>
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="product-detail-container">
            <div class="item-list-breadcrumb">
                <i class="fa fa-angle-left"></i>
                <span class="item-list-breadcrumb-title">
                    <span class="first-letter">
                        <a href="/">Home</a>
                        <span class="divider"> | </span>
                    </span>
                    <span class="first-letter">
                        <a href="#">Productos</a>
                        <span class="divider"> | </span>
                    </span>
                    <span class="first-letter">
                        <span class="active">Nombre Producto</span>
                    </span>
                </span>
            </div>
        </section>
        <section class="product-detail">
                <article class="image-carousel-mobile">
                    <img src="/images/productDetail/grand-court-alpha-1.jpg" alt="Zapatilla Grand Court Alpha" />
                    <img src="/images/productDetail/grand-court-alpha-2.jpg" alt="Zapatilla Grand Court Alpha" />
                    <img src="/images/productDetail/grand-court-alpha-3.jpg" alt="Zapatilla Grand Court Alpha" />
                    <img src="/images/productDetail/grand-court-alpha-4.jpg" alt="Zapatilla Grand Court Alpha" />
                </article>
                <article class="product-images-desktop">
                    <div class="row">
                        <div class="image-container">
                            <img src="/images/productDetail/grand-court-alpha-1.jpg" alt="Zapatilla Grand Court Alpha" />
                        </div>
                        <div class="image-container">
                            <img src="/images/productDetail/grand-court-alpha-2.jpg" alt="Zapatilla Grand Court Alpha" />
                        </div>
                        <div class="image-container">
                            <img src="/images/productDetail/grand-court-alpha-3.jpg" alt="Zapatilla Grand Court Alpha" />
                        </div>
                        <div class="image-container">
                            <img src="/images/productDetail/grand-court-alpha-4.jpg" alt="Zapatilla Grand Court Alpha" />
                        </div>
                    </div>
                </article>
                <article class="details-section">
                    <h2 class="item-show-details-title">ZAPATILLAS GRAND COURT ALPHA</h2>
                    <div class="price-container">
                        <span class="price-old">$ 59.000 </span>
                        <span class="offer"> -50% </span>
                        <span class="price-active">$ 29.500 </span>
                    </div>
                    <div class="item-details-cuotas">
                        3 cuotas sin interés de
                        <b>$ 9.833.3</b>
                    </div>
                    <div class="item-colors-container">
                        <h2 class="item-colors-title">Colores</h2>
                        <div class="color-boxes">
                            <label class="item-show-color-option">
                                <span class="item-show-color-brown"></span>
                            </label>
                            <label class="item-show-color-option">
                                <span class="item-show-color-black"></span>
                            </label>
                            <label class="item-show-color-option">
                                <span class="item-show-color-white"></span>
                            </label>
                        </div>
                    </div>
                    <div class="item-sizes-container">
                        <h2 class="item-size-title">Talles</h2>
                        <div class="sizes-boxes">
                            <button>26</button>
                            <button>27</button>
                            <button>28</button>
                            <button>29</button>
                            <button>30</button>
                            <button>31</button>
                            <button>32</button>
                            <button>33</button>
                            <button>34</button>
                            <button>35</button>
                            <button>36</button>
                            <button>37</button>
                            <button>38</button>
                            <button>39</button>
                            <button>40</button>
                        </div>
                    </div>
                    <div class="size-guide-container">
                        <div class="item-sizes-guide-container">
                            <img src="images/productDetail/ruler-tool.svg" />
                            <a class="item-sizes-guide">Tabla de talles</a>
                        </div>
                        <div class="fit-prenda-link-container">
                            <img src="/images/productDetail/hanger-tool.svg" />
                            <a class="item-sizes-guide">¿Cuál es tu talle?</a>
                        </div>
                    </div>
                    <div class="buy-button">
                        <button class="item-show-btn">añadir al carrito</button>
                    </div>
                    <div class="item-show-details-more-info">
                        <div class="panel">
                            <div class="panel-heading">
                                <h5 class="item-show-details-more-info-title">
                                    Descripción y Cuidados
                                </h5>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Las 3 Tiras evocan el legado de Lumina. Y cuando se las combina con estas zapatillas 
                                    adidas Grand Court Alpha, celebran generaciones de originalidad. La silueta minimalista 
                                    crea ese look atemporal. El logo en relieve en la lengüeta y las elegantes costuras le 
                                    dan un toque moderno. La amortiguación Cloudfoam le inyecta comodidad a cada uno de tus 
                                    pasos.
                                </p>
                                <br />
                                <p>
                                    Cuidados: Lavar a máquina del revés, temperatura max. 30°
                                </p>
                                <br />
                                <p>
                                    Composición: 98% Algodón 2% Spandex
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
        </section>
        <a class="btn-whatsapp bt-wsp-right">
            <img src="/images/index/whatsapp-pill.svg" alt="Whatssapp Pill" />
        </a>
    </main>

    <footer>
        <section class="frequent-questions">
            <article>
                <a href="#"> 
                    <h2 class="fq-title">ENVÍOS A TODO EL PAÍS</h2>
                    <p class="fq-description">Recibí tu pedido de 3 a 5 días hábiles. Conocé más acá.</p>
                </a>
            </article>
            <article>
                <a href="#">
                    <h2 class="fq-title">CAMBIOS Y DEVOLUCIONES</h2>
                    <p class="fq-description">Hasta 30 días después de haber realizado la compra. Conocé más acá.</p>
                </a>
            </article>
            <article>
                <h2 class="fq-title">MÉTODOS DE PAGO</h2>
                <p class="fq-description">3 cuotas sin interés y 6 cuotas sin interés a partir de $60.000</p>
            </article>
        </section>
        <section class="footer-content">
            <article>
                <div class="footer-content-top">
                    <p>Newsletter</p>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="fc-panel-body">
                    <p>Se él primero en enterarte de las últimas novedades.</p>
                    <div class="form-group">
                        <form method="/">
                            <input class="main-newslatter" type="email" placeholder="Ingresá tu email" />
                        </form>
                    </div>
                    <div class="nl-confirm-button">
                        <button>
                            CONFIRMAR
                        </button>
                    </div>
                    <div class="newslatter-subscribed">
                        <div class="checkbox">
                            <input id="main-checkbox-newslatter" type="checkbox" value="true" checked="checked" />
                            <label for="main-checkbox-newslatter">
                                Lumina.com
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="outlet-checkbox-newslatter" type="checkbox" value="true" checked="checked" />
                            <label for="outlet-checkbox-newslatter">
                                Lumina Outlet
                            </label>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="footer-content-top">
                    <p>Sobre lumina</p>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="fc-panel-body">
                    <p><a href="#">Conocé la historia de marca acá.</a></p>
                </div>
            </article>
            <article>
                <div class="footer-content-top">
                    <p>Seguinos en nuestras redes</p>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="fc-panel-body">
                    <div class="social-networks">
                        <p>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="footer-content-top">
                    <p>Contacto</p>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="fc-panel-body">
                    <div class="contact">
                        <p>
                            <a href="#" target="_blank">
                                <i class="far fa-envelope"></i>
                                <span>Escribinos</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                                <span>38859107216</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" target="_blank">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Locales</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" target="_blank">
                                <i class="far fa-question-circle"></i>
                                <span>Ayuda</span>
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="footer-content-top">
                    <p>Arrepentimiento de compra</p>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>
        </section>
        <section class="footer-bottom">
            <article>
                <p class="footer-copyright">© LUMINA Todos los derechos reservados - 2024</p>
                <a class="footer-terms-and-conditions" href="#">
                    Términos y condiciones
                </a>
            </article>
        </section>
    </footer>
</body>
</html>