body{
    font-family: "Poppins", sans-serif;
    color: #222222;
}

.container-form{
    background-color: rgba(215, 215, 216, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

h2{
    text-align: center;
    padding: 10px 0px;
}

.input-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
.input-information label{
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: black;
    padding-bottom: 10px;
}
.style-input{
    border-radius: 5px;
    outline: 0;
    border: 2px solid white;
    padding: 5px 5px;
    width: 80%;
    transition: border-color 1s;
}

.style-input:focus {
    border: 2px solid black;
    outline: none;
}

.help-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0px;
    color: black;
}
.help-me a{
    color: black;
    transition: all 100ms;
}
.help-me a:hover{
    color: red;
    font-weight: bold;
}

.container-button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.button-style {
    width: 50%;
    border: none;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.button-style:hover {
    background-color: #F6F6F6;
    color: black;
    border: 1px solid black;
}


@media (min-width:1200px){
    .form{
        border: 1px  solid black;
        padding: 12px;
        border-radius: 5px;
    }
}