*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('/images/login/fondo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    outline: 0;
    font-size: 12px;
    color: #222222;
}

.container-form{
    background-color: rgba(215, 215, 216, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-header{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 10px 0px;
}

.login-header img{
    border-radius: 50%;
    width: 20%;
    margin: auto;
    animation-name: animation-img;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.login-header h2{
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

.login-google, .login-facebook{
    text-align: center;
    width: 80%;
    margin: auto;
    transition: all 1000ms;
    margin-bottom: 10px;
}

.login-google:hover, .login-facebook:hover{
    box-shadow: 0px 3px 8px black;
}

.login-google button, .login-facebook button{
    width: 100%;
    outline: 0;
    border: 0;
    height: 35px;
    padding: 5px 0px;
    cursor: pointer;
}

.login-google button {
    border: 1px solid #D7D7D8;
}

.login-google button p {
    display: inline;
    margin-right: 15px;
}

.login-facebook button {
    background-color: #3b5998;
    color: white;
}

.login-facebook button p {
    display: inline;
}

.login-google img, .login-facebook img {
    width: 17px;
    vertical-align: middle;
}

.division{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    border-bottom: 1px solid rgb(161, 157, 157);
    position: relative;
}

.division p{
    position: relative;
    top: 11px;
    z-index: 1;
    font-weight: bold;
}

.input-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.input-information label{
    width: 100%;
    margin-left: 34px;
    color: black;
    padding-bottom: 10px;
}

.input-information input{
    border: 1px solid #D7D7D8;
    padding: 5px 15px;
    width: 80%;
    height: 35px;
    border-radius: 0px;
    box-shadow: none;
    color: #222222;
    transition: border-color 1s;
}

.input-information input:focus {
    border: 1px solid #222;
    outline: none;
}

.error-container {
    background-color: #ff9696;
    color: black;
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #d33232;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.error-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.error-input input {
    border-radius: 5px;
    outline: 0;
    border: 1px solid rgb(255, 127, 127);
    padding: 5px 0px;
    width: 80%;
    transition: border-color 1s;
}

.error-input input:focus {
    border: 1px solid red;
    outline: none;
}

.help-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 15px 0px;
    color: black;
}

.help-me a{
    color: black;
    transition: all 100ms;
    text-decoration: none;
}

.help-me a:hover{
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    vertical-align: middle;
}

.checkbox-container label {
    margin-left: 5px;
    vertical-align: middle;
}

.container-button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.button-style {
    width: 70%;
    border: none;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-style:hover {
    background-color: #F6F6F6;
    color: black;
    border: 1px solid black;
}

.button-continue {
    width: 70%;
    font-weight: bold;
    height: 45px;
    border: 1px solid black;
    font-size: 13px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    color: black;
}

.button-continue:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

@media(min-width:768px) {
    .input-information label{
        margin-left: 46px;
    }
}

@media (min-width:1200px){
    .login-form{
        border: 1px  solid black;
        padding: 12px 50px;
    }
}