*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url('/images/login/fondo-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.container-form{
  background-color: rgba(215, 215, 216, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.login-header{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px 0px;
}
.login-header img{
  border-radius: 50%;
  width: 20%;
  margin: auto;
  animation-name: animation-img;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes animation-img {
  0%{
      transform: translateY(-30%) translateX(10%);
      box-shadow: 0px 10px 20px black;
  }
  50%{
      transform: translateY(-10%);
      box-shadow: 0px 5px 20px black;
  }
  100%{
      transform: translateY(-30%) translateX(-10%);
      box-shadow: 0px 10px 20px black;
  }
}
.login-header h2{
  width: 100%;
  text-align: center;
}
.login-google{
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 0px;
  transition: all 1000ms;
}
.login-google:hover{
  box-shadow: 0px 5px 15px black;
}

.login-google button{
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
.division{
  text-align: center;
  margin: 20px auto;
  width: 70%;
  border-bottom: 1px solid rgb(161, 157, 157);
  position: relative;
}
.division p{
  position: relative;
  top: 11px;
  z-index: 1;
  font-weight: bold;
}

.input-information{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.input-information label{
  width: 100%;
  text-align: center;
  font-weight: 900;
  color: black;
  padding: 12px 0px;
}

.input-information input{
  border-radius: 5px;
  outline: 0;
  border: 2px solid white;
  padding: 5px;
  width: 100%;
  transition: border-color 1s;
}

.input-information input:focus {
  border: 2px solid black;
  outline: none;
}

fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: black;
  border-radius: 5px;
}

.help-me{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0px;
  color: black;
}

.help-me a{
  color: black;
  transition: all 100ms;
}

.help-me a:hover{
  color: #222222;
  font-weight: bold;
}

.container-button{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.button-style {
  width: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 600;
  height: 45px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button-continue {
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
  height: 45px;
  border: 1px solid black;
  font-size: 13px;
  transition: all 0.5s ease;
}

.button-continue:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.msg-error{
  color: red;
  margin: 12px 0px 0px 0px;
  font-weight: bold;
}
@media (min-width:1200px){
  .login-form{
      margin: 20px 0px;
      border: 1px  solid black;
      padding: 20px 400px;
      border-radius: 5px;
  }

  .input-information input{
    width: 80%;
  }
}