<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="sale-section">
            <article>
                <video class="sale-video-mobile" playsinline="true" autoplay="autoplay" loop="loop" muted="muted" src="/videos/index/lumina-off-mobile-video.mp4"></video>
            </article>
            <article>
                <video class="sale-video-desktop" playsinline="true" autoplay="autoplay" loop="loop" muted="muted" src="/videos/index/lumina-off-desktop-video.mp4"></video>
            </article>
        </section>
        <section class="featured-products">
            <header class="carousel-title">
                <h4>Productos Destacados</h4>
                <div class="swipper-buttons">
                    <div>
                        <img src="/images/index/swipper-button-left.svg" alt="swp left" />
                    </div>
                    <div>
                        <img src="/images/index/swipper-button-right.svg" alt="swp right"/>
                    </div>
                </div>
            </header>
            <div class="carousel-container">
                <div class="carousel-item">
                    <img src="/images/index/racer-sneaker.jpg" alt="Zapatillas Racer">
                    <div class="item-description">
                        <p class="item-name">ZAPATILLAS RACER</p>
                        <div class="item-price-container">
                            <p class="item-price-old">$103.000</p>
                            <p class="item-price">$114.999</p>
                            <p class="item-discount">%10</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/bluewater-sweden.jpg" alt="Producto 3">
                    <div class="item-description">
                        <p class="item-name">BOTELLA AGUA LUMINA</p>
                        <div class="item-price-container">
                            <p class="item-price-old">$35.000</p>
                            <p class="item-price">$33,250</p>
                            <p class="item-discount">%5</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/hoodie.jpg" alt="Producto 4">
                    <div class="item-description">
                        <p class="item-name">SUDADERA NEGRA DEPORTIVA</p>
                        <div class="item-price-container">
                            <p class="item-price-old">$103.000</p>
                            <p class="item-price">$114.999</p>
                            <p class="item-discount">%10</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/soccer-ball.jpg" alt="Producto 4">
                    <div class="item-description">
                        <p class="item-name">PELOTA FUTBOL</p>
                        <div class="item-price-container">
                            <p class="item-price-old">$39.100</p>
                            <p class="item-price">$46.000</p>
                            <p class="item-discount">%10</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/women-sport-pants.jpg" alt="Producto 2">
                    <div class="item-description">
                        <p class="item-name">PANTALON DEPORTIVO MUJER</p>
                        <div class="item-price-container">
                            <p class="item-price-old">$55.000</p>
                            <p class="item-price">$41,250</p>
                            <p class="item-discount">%25</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="catalog">
            <article>
                <div class="catalog-item">
                    <img src="/images/index/sneakers.jpg" />
                    <div class="text-overlay">
                        <p>CALZADO</p>
                        <a>VER MÁS</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="catalog-item">
                    <img src="/images/index/sportswear.jpg" />
                    <div class="text-overlay">
                        <p>ROPA</p>
                        <a>VER MÁS</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="catalog-item">
                    <img src="/images/index/accesories.jpg" />
                    <div class="text-overlay">
                        <p>ACCESORIOS</p>
                        <a>VER MÁS</a>
                    </div>
                </div>
            </article>
        </section>
        <a class="btn-whatsapp bt-wsp-right">
            <img src="/images/index/whatsapp-pill.svg" alt="Whatssapp Pill" />
        </a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>