<footer>
    <section class="footer-pick-up">
        <article>
            <img src="/images/index/main-footer-pick-up.jpg" alt="LOCALES & PICK UP" />
            <div class="pick-up-content">
                <h3>
                    <a href="#">LOCALES & PICK UP</a>
                </h3>
                <h5>
                    <a href="#">Hacé click acá y conoce toda la info sobre nuestros locales y puntos de retiro.</a>
                </h5>
                <p>
                    <a href="#">Ver más</a>
                </p>
            </div>
        </article>
    </section>
    <section class="frequent-questions">
        <article>
            <a href="#">
                <h2 class="fq-title">ENVÍOS A TODO EL PAÍS</h2>
                <p class="fq-description">Recibí tu pedido de 3 a 5 días hábiles. Conocé más acá.</p>
            </a>
        </article>
        <article>
            <a href="#">
                <h2 class="fq-title">CAMBIOS Y DEVOLUCIONES</h2>
                <p class="fq-description">Hasta 30 días después de haber realizado la compra. Conocé más acá.</p>
            </a>
        </article>
        <article>
            <h2 class="fq-title">MÉTODOS DE PAGO</h2>
            <p class="fq-description">3 cuotas sin interés y 6 cuotas sin interés a partir de $60.000</p>
        </article>
    </section>
    <section class="footer-content">
        <article>
            <div class="footer-content-top">
                <p>Newsletter</p>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="fc-panel-body">
                <p>Se él primero en enterarte de las últimas novedades.</p>
                <div class="form-group">
                    <form method="/">
                        <input class="main-newslatter" type="email" placeholder="Ingresá tu email" />
                    </form>
                </div>
                <div class="nl-confirm-button">
                    <button>
                        CONFIRMAR
                    </button>
                </div>
                <div class="newslatter-subscribed">
                    <div class="checkbox">
                        <input id="main-checkbox-newslatter" type="checkbox" value="true" checked="checked" />
                        <label for="main-checkbox-newslatter">
                            Lumina.com
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="outlet-checkbox-newslatter" type="checkbox" value="true" checked="checked" />
                        <label for="outlet-checkbox-newslatter">
                            Lumina Outlet
                        </label>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="footer-content-top">
                <p>Sobre lumina</p>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="fc-panel-body">
                <p><a href="#">Conocé la historia de marca acá.</a></p>
            </div>
        </article>
        <article>
            <div class="footer-content-top">
                <p>Seguinos en nuestras redes</p>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="fc-panel-body">
                <div class="social-networks">
                    <p>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                    </p>
                    <p>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="footer-content-top">
                <p>Contacto</p>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="fc-panel-body">
                <div class="contact">
                    <p>
                        <a href="#" target="_blank">
                            <i class="far fa-envelope"></i>
                            <span>Escribinos</span>
                        </a>
                    </p>
                    <p>
                        <a href="#" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                            <span>38859107216</span>
                        </a>
                    </p>
                    <p>
                        <a href="#" target="_blank">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Locales</span>
                        </a>
                    </p>
                    <p>
                        <a href="#" target="_blank">
                            <i class="far fa-question-circle"></i>
                            <span>Ayuda</span>
                        </a>
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="footer-content-top">
                <p>Arrepentimiento de compra</p>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </article>
    </section>
    <section class="footer-bottom">
        <article>
            <p class="footer-copyright">© LUMINA Todos los derechos reservados - 2024</p>
            <a class="footer-terms-and-conditions" href="#">
                Términos y condiciones
            </a>
        </article>
    </section>
</footer>