<header class="main-header">
    <div class="header-notices">
        <p>ENVÍO GRATIS A PARTIR DE $90.000</p>
    </div>
    <div class="main-header-top-bar">
        <div class="main-header-top-left">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="search-bar">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <h1 class="title"><a href="/">LUMINA</a></h1>
        <div class="shopping-cart">
            <p class="shopping-mount">0</p>
            <i class="fas fa-shopping-bag"></i>
        </div>
    </div>
    <nav class="nav-container">
        <ul class="nav-items nav-words">
            <li><a href="#">MUJER</a></li>
            <li><a href="#">HOMBRE</a></li>
            <li><a href="#">NIÑOS</a></li>
            <li><a href="#">ACCESORIOS</a></li>
            <li><a href="#">LOCALES</a></li>
        </ul>
        <ul class="nav-items nav-icons">
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
            <li class="shopping-cart-pc">
                <p class="shopping-mount-pc">0</p>
                <a href="/cart"><i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
    </nav>
</header>